In [109]:
import pandas as pd
import session_9

In [111]:
## Create a fake pofiles 
faker_db = session_9.get_fake_profiles_nt(10)

In [113]:
faker_db_dict = session_9.get_fake_profiles_dict(10)

In [118]:
session_9.get_average_age(faker_db)

Function get_average_age takes average run time of 1.3745969990850426e-05 for 100 iterations

(44.70016495889717, 1.3745969990850426e-05)

In [121]:
session_9.get_average_age_dict(faker_db_dict)

Function get_average_age_dict takes average run time of 1.605642002687091e-05 for 100 iterations

(48.024805437483316, 1.605642002687091e-05)

In [122]:
session_9.get_oldest_person_age(faker_db)
session_9.get_oldest_person_age_dict(faker_db_dict)

Function get_oldest_person_age takes average run time of 1.1862990058943978e-05 for 100 iterations
Function get_oldest_person_age_dict takes average run time of 2.2126000039861538e-05 for 100 iterations

(103.72013114574564, 2.2126000039861538e-05)

In [123]:
session_9.get_mean_current_location(faker_db)
session_9.get_mean_current_location_dict(faker_db_dict)

Function get_mean_current_location takes average run time of 8.49555997774587e-06 for 100 iterations
Function get_mean_current_location_dict takes average run time of 1.7141060043286414e-05 for 100 iterations

((Decimal('10.98579515'), Decimal('6.1749386')), 1.7141060043286414e-05)

In [114]:
session_9.compare_time(faker_db, faker_db_dict)

Function get_largest_blood_group takes average run time of 1.3418270063993988e-05 for 100 iterations
Function get_mean_current_location takes average run time of 1.4525360011248268e-05 for 100 iterations
Function get_oldest_person_age takes average run time of 1.121376996707113e-05 for 100 iterations
Function get_average_age takes average run time of 1.322523000453657e-05 for 100 iterations

 ========================
Function get_largest_blood_group_dict takes average run time of 2.227168004537816e-05 for 100 iterations
Function get_mean_current_location_dict takes average run time of 1.71055199825787e-05 for 100 iterations
Function get_oldest_person_age_dict takes average run time of 1.750843000081659e-05 for 100 iterations
Function get_average_age_dict takes average run time of 1.822773005187628e-05 for 100 iterations

 ========================

 ========================
Named Tuple performed 1 times faster

 ========================

(5.238263004684996e-05, 7.511336008064973e-05)

In [115]:
stock_exchange = session_9.create_stock_exchange(num_of_listed_comp = 100)

In [117]:
# Stock market details
day_open,day_high,day_low,day_close = session_9.stock_exchange_details(stock_exchange)
print("=======Stock Exchange Preformace=========")
print(f'Market opened at {day_open}, reached to highest of {day_high} while touched to lowest at {day_low} and finally closed at {day_close}')

=======Stock Exchange Preformace=========
Market opened at 3961.9, reached to highest of 4195.5 while touched to lowest at 3098.67 and finally closed at 3693.15

In [116]:
df = pd.DataFrame(stock_exchange)
df

                    company_name symbol  value   open   high    low  close
0            Hunt, Kim and Bowen    HMN   3079   3.58   3.19   3.14   3.15
1                    Moon-Arnold    MOD   4251  50.28  53.30  33.46  33.73
2                  Green-Pittman    GPN   4162  54.88  48.84  47.21  47.60
3     Johnson, Castro and Graves    JSS   4956  78.80  70.92  44.78  49.95
4   Johnson, Macdonald and Duran    JNN   3605  55.22  61.85  60.24  61.21
..                           ...    ...    ...    ...    ...    ...    ...
95                    Bell-Wyatt    BLT   4116  42.30  49.07  39.24  39.31
96   Deleon, Mcdonald and Mercer    DDR   3837  10.42  13.55   5.57  12.45
97                 Schultz-Sloan    SLN   4991  75.49  92.10  62.18  86.28
98                  Wood-Delgado    WGO   3126   7.88   7.56   4.16   6.62
99   Chung, Johnson and Mckenzie    COE   4125  65.59  72.80  66.65  71.79

[100 rows x 7 columns]